body {
  justify-content: center;
  text-align: center;
}

.menu {
  position: top;
}

.menu a {
  display: inline-block;
}

.body {
  border-radius: 10px;
  border: 2px solid black;
  background-color: bisque;
  font-family: 'Comic Sans MS', sans-serif;
  width: 80%;
}